#nav {
    position: absolute;
    top: 0;
    z-index: 90;
    padding: 16px 36px;
    width: 100%;
    height: 58px;
    border: none;
    font-size: 20px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#nav:not(.fixed) .menus {
    padding-right: 0 !important;
}

#nav .toggle-menu {
    display: none;
    padding: 0.1rem 0 0 0.3rem;
    vertical-align: top;
}

#nav .toggle-menu:hover {
    color: #fff;
}

#nav .toggle-menu.is-visible-inline .site-page {
    font-size: inherit;
}

#nav a {
    color: #eee;
}

#nav a:hover {
    color: #fff;
}

#nav.fixed {
    position: fixed;
    top: -60px;
    z-index: 91;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
    box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#nav.fixed a,
#nav.fixed #site-name,
#nav.fixed .toggle-menu {
    color: #4c4948;
    text-shadow: none;
}

#nav.fixed a:hover,
#nav.fixed #site-name:hover,
#nav.fixed .toggle-menu:hover {
    color: #49b1f5;
}

#nav.visible {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

#nav.visible .menus_item_child {
    background-color: #fff !important;
}

#nav #site-name {
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    font-weight: bold;
    cursor: pointer;
}

#nav .menus_items {
    display: inline;
}

#nav .menus_items .menus_item {
    position: relative;
    display: inline-block;
    padding: 0 0 0 1.3rem;
}

#nav .menus_items .menus_item:hover .menus_item_child {
    display: block;
}

#nav .menus_items .menus_item:hover .menus-expand {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

#nav .menus_items .menus_item .menus-expand {
    padding: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

#nav .menus_items .menus_item > a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 3px;
    background-color: #80c8f8;
    content: '';
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#nav .menus_items .menus_item > a:hover:after {
    width: 100%;
}

#nav .menus_items .menus_item .menus_item_child {
    position: absolute;
    right: 0;
    display: none;
    margin-top: 8px;
    padding: 0;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 5px 20px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px -4px rgba(0, 0, 0, 0.5);
    -webkit-animation: sub_menus 0.3s 0.1s ease both;
    -moz-animation: sub_menus 0.3s 0.1s ease both;
    -o-animation: sub_menus 0.3s 0.1s ease both;
    -ms-animation: sub_menus 0.3s 0.1s ease both;
    animation: sub_menus 0.3s 0.1s ease both;
}

#nav .menus_items .menus_item .menus_item_child:before {
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 20px;
    content: '';
}

#nav .menus_items .menus_item .menus_item_child li {
    list-style: none;
}

#nav .menus_items .menus_item .menus_item_child li:hover {
    background: #49b1f5;
}

#nav .menus_items .menus_item .menus_item_child li a {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    width: 100%;
    color: #4c4948;
    text-shadow: none;
}

#nav #search_button {
    display: inline;
    padding: 0 0 0 0.7rem;
}

#nav .site-page {
    position: relative;
    padding-bottom: 0.3rem;
    text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

/*字体库图标颜色*/
.fa-calendar-alt {
    color: #00008b;
}
.fa-boxes {
    color: #dc143c;
}
.fa-tag {
    color: #d2691e;
}
.fa-file-word {
    color: #00ced1;
}
.fa-clock {
    color: #008000;
}
.fa-eye {
    color: #9370db;
}
.fa-comments {
    color: #f00;
}
.fa-history {
    color: #ff8c00;
}
.fa-folder-open {
    color: #9370db;
}
.fa-tags {
    color: #d2691e;
}
.fa-archive {
    color: #008000;
}
.fa-chart-line {
    color: #dc143c;
}
.fa-home {
    color: #dc143c;
}
.fa-link {
    color: #00ced1;
}
.fa-heart {
    color: #f00;
}
.fa-list {
    color: #adff2f;
}
.fa-music {
    color: #8a2be2;
}
.fa-video {
    color: #5f9ea0;
}
.fa-file-image {
    color: #ffe4c4;
}
.fa-cloud {
    color: #6495ed;
}